 <div class="feed">
			<div class="feed_full_name"><%= link_to client.full_name, client %> </div>
			<div class="feed_created_at">was captured at <%= client.created_at %></div>
			<div class="feed_client_number">client number is <b><%= client.client_number %></b></div>
			<div class="feed_full_address">situated at <b><%= client.full_address %></b></div>
			<div class="feed_installation">
				<% if client.installations.empty? %>
						has no installations. <%= link_to 'Create One', installation_client_url(:client_number => client.client_number, :id => client.id) %>
				<% else %>
				<div class="feed_installation_number">
					with Installation Number <b><%= link_to client.installations.first.installation_number, client.installations.first =%> </b>and it is a 
					<b><%= client.installations.first.installation_type.title =%></b> installation
				</div>
				<% end %>
			</div>
			<div class="feed_buttons">
				<%= link_to 'Show', client %> 
				<%= link_to 'Edit', edit_client_path(client) %>
				<%= link_to 'Delete', client, :confirm => 'Are you sure?',:method => :delete %>
			</div> 
</div>