<!DOCTYPE html>
<html>
<head>
  <title>CMS | <%= @title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/images/favicon.ico" />
</head>
<body>
	<header>
		<div id="logo">
			<%= link_to('CMS', root_path )  %>
		</div>
        <nav>
          <%= render "shared/topnavigation" %>
        </nav>
	</header>
		<div id="container">
		<div id="search">
		<% if user_signed_in? %>
			<div>
				<%= render @controller + "/search" %>
			</div>
		<% end %>
		</div>
    	<div id="sidebar" class="column">
    		<%= render "shared/navigation" %>
    	</div>
      	<div id="main" class="column">
	         <% flash.each do |key, value| %>
	          <div class="flash <%= key %>"><%= value %></div>
	        <% end %>
	        <%= yield %>
      	</div>
      	</div>
      	<div class="clearer"></div>
     <footer>
      <%= render 'shared/footer' %>
     </footer>
  </body>
</html>
</html>
